footer {
    background: vars.$footer-color;
    color: vars.$dark-des-cyan;
    padding: vars.rem(73) 0;
    @include vars.flexer(center, center, column);

    .title {
        filter: invert(51%) sepia(52%) saturate(340%) hue-rotate(118deg) brightness(86%) contrast(91%);
    }

    nav {
        margin: vars.rem(40) 0 vars.rem(80);
        @extend %flex;
    }

    p:not(:last-child) {
        margin-right: vars.rem(40);
    }

    .socials {
        width: vars.rem(160);
        @include vars.flexer(center, space-between);
    }
    nav p:hover {
        color: vars.$white;
    }
}
