.container_header {
    background: url(/images/desktop/image-header.jpg) center top/cover no-repeat;
    padding: vars.rem(20);
    height: vars.rem(800);
    position: relative;

    @include vars.media(tablet-small, max) {
        height: vars.rem(540);
    }

    header {
        height: vars.rem(50);
        // background: red;
    }

    header,
    nav {
        @include vars.flexer(center, space-between);
    }

    nav {
        transition: opacity 0.3s;
        p {
            margin-right: vars.rem(40);
            color: vars.$white;

            @include vars.media(tablet-small, max) {
                margin: 0;
                text-align: center;
                margin-bottom: vars.rem(40);
                color: vars.$dark-grayish-blue;
            }
        }

        button {
            border: none;
            width: vars.rem(135);
            height: vars.rem(50);
            border-radius: vars.rem(50);
            background: vars.$white;
            @extend %fraunces;
            text-transform: uppercase;
            @extend %pointer;
            transition: color 0.3s, background 0.3s;

            &:hover {
                color: vars.$white;
                background: rgba(255, 255, 255, 0.3);
            }

            @include vars.media(tablet-small, max) {
                background: vars.$yellow;
            }
        }

        &::after {
            content: '';
            display: none;
            width: vars.rem(25);
            height: 25px;
            right: vars.rem(0.25);
            top: 0;
            transform: translateY(-100%);
            position: absolute;
            background: linear-gradient(-45deg, vars.$white 50%, transparent 50%);

            @include vars.media(tablet-small, max) {
                display: block;
            }
        }
        &.active {
            @extend %flex;
            opacity: 1;
            transition: opacity 0.3s;
        }

        @include vars.media(tablet-small, max) {
            display: none;
            position: absolute;
            background: vars.$white;
            width: calc(100% - vars.rem(40));
            flex-direction: column;
            right: vars.rem(25);
            opacity: 0;
            top: vars.rem(100);
            padding: vars.rem(40);
        }
    }
    ion-icon {
        display: none;
        font-size: vars.rem(40);
        color: vars.$white;
        @extend %pointer;
        @include vars.media(tablet-small, max) {
            display: block;
        }
    }

    .hero {
        @extend %fraunces;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: vars.rem(5);
        color: white;
        font-size: vars.rem(22);
        height: vars.rem(320);
        margin-top: vars.rem(100);
        @include vars.media(tablet-small, max) {
            height: vars.rem(250);
            margin-top: vars.rem(50);
        }
        @include vars.flexer(center, space-between, column);
    }
}
