.container_photos {
    height: vars.rem(440);
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include vars.media(tablet-small, max) {
        grid-template-columns: repeat(2, 1fr);
    }

    .photo {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        &:first-child {
            background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
        }
        &:nth-child(2) {
            background-image: url(/images/desktop/image-gallery-orange.jpg);
        }
        &:nth-child(3) {
            background-image: url(/images/desktop/image-gallery-cone.jpg);
        }
        &:last-child {
            background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
        }
    }
}
