.container_specs {
    // background: crimson;
    min-height: vars.rem(1800);
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(vars.rem(320), 50%));
    grid-template-rows: repeat(3, 1fr);

    & > * {
        width: 100%;
        height: 100%;
    }

    @include vars.media(tablet-small, max) {
        grid-template-columns: 1fr;
        grid-template-rows: vars.rem(315) vars.rem(435) vars.rem(315) vars.rem(437) repeat(2, vars.rem(600));
    }

    .spec:is(:first-child, :nth-child(4)) {
        background: vars.$testi-color;
    }
    .spec:nth-child(2) {
        background: url(/images/desktop/image-transform.jpg) center center/cover;

        @include vars.media(tablet-small, max) {
            grid-row: 1;
        }
    }
    .spec:nth-child(3) {
        background: url(/images/desktop/image-stand-out.jpg) center center/cover;
    }
    .spec:nth-last-child(2) {
        background: url(/images/desktop/image-graphic-design.jpg) center center/cover;
    }
    .spec:last-child {
        background: url(/images/desktop/image-photography.jpg) center center/cover;
    }

    .spec-content {
        padding: vars.rem(110) vars.rem(200) 0 vars.rem(160);

        @include vars.media(tablet-small, max) {
            padding: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .title {
            font-size: vars.rem(30);
            max-width: vars.rem(330);
            width: 80%;
            min-width: vars.rem(300);
            @extend %fraunces;
        }

        .content {
            color: vars.$dark-grayish-blue;
            margin: vars.rem(45) 0 vars.rem(50);

            @include vars.media(tablet-small, max) {
                margin: vars.rem(45) vars.rem(40) vars.rem(50);
            }
        }

        a {
            @extend %fraunces;
            text-transform: uppercase;
            position: relative;

            span {
                position: relative;
                z-index: 2;
            }

            .under {
                content: '';
                opacity: 0;
                position: absolute;
                width: 110%;
                height: vars.rem(10);
                background: vars.$yellow;
                left: -5%;
                bottom: 0;
                z-index: 1;
                transform: scaleX(0);
                transition: transform 0.5s;
                transform-origin: left;
                border-radius: vars.rem(10);

                &.red {
                    background: vars.$soft-red;
                }
            }

            &:hover .under {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }

    .spec-img-content {
        @include vars.flexer(center, end, column);
        padding-bottom: vars.rem(50);
        text-align: center;

        &.green {
            color: vars.$dark-des-cyan;
        }

        &.blue {
            color: vars.$dark-blue;
        }

        .title {
            @extend %fraunces;
            text-transform: capitalize;
            margin-bottom: vars.rem(20);
        }
    }
}
