.container_testimonials {
    padding: vars.rem(80) 0;
    @include vars.flexer($ai: center, $orientation: column);
    background: vars.$testi-color;

    .title {
        text-transform: uppercase;
        @extend %fraunces;
        text-align: center;
        letter-spacing: vars.rem(5);
        color: vars.$grayish-blue;
        margin-bottom: vars.rem(80);
        font-size: vars.rem(16);
    }

    .testimonials {
        @include vars.flexer($jc: space-between);
        width: 70%;
        // max-width: vars.rem(1100);
        min-width: vars.rem(300);
        min-height: vars.rem(350);
        height: auto;
        // flex-wrap: wrap;
        @include vars.media(tablet-small, max) {
            flex-direction: column;
        }

        .testimonial {
            flex: 1 1 vars.rem(322);
            margin: 0 vars.rem(10);
            width: 100%;
            height: auto;
            // background: green;
            @include vars.flexer(center, space-between, column);
            text-align: center;

            .img {
                // background: red;
                width: vars.rem(75);
                height: vars.rem(75);
                border-radius: 50%;
                background-position: center center;
                background-size: cover;
            }

            &:first-child .img {
                background-image: url(/images/image-emily.jpg);
            }
            &:nth-child(2) .img {
                background-image: url(/images/image-thomas.jpg);
            }
            &:last-child .img {
                background-image: url(/images/image-jennie.jpg);
            }

            &:not(:last-child) {
                @include vars.media(tablet-small, max) {
                    margin-bottom: vars.rem(70);
                }
            }
        }

        .content {
            // width: vars.rem(330);
            width: 100%;
            color: vars.$very-dark-des-cyan;
        }

        .name {
            @extend %fraunces;
            font-size: vars.rem(18);
            margin-bottom: vars.rem(20);
        }
        .job {
            // font-size: vars.rem(12);
            color: vars.$grayish-blue;
        }
    }
}
