@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;1,900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    height: auto;
    line-height: 1.5;
    font-family: 'Barlow', sans-serif;
}
a,
a:visited,
a:focus {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
