$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-des-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-mod-cyan: hsl(168, 34%, 41%);
$footer-color: hsl(167, 44%, 70%);
$testi-color: hsl(26, 100%, 99%);
$light-blue: hsl(200, 99%, 63%);

$very-dark-des-cyan: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
