@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;1,900&display=swap");
.container {
  width: 100%;
  height: 100%;
}
.container > * {
  width: 100%;
}

.container_header header,
.container_header nav, .container_header nav.active, .container_header .hero, .container_specs .spec-img-content, .container_testimonials, .container_testimonials .testimonials, .container_testimonials .testimonials .testimonial, footer, footer nav, footer .socials {
  display: flex;
}

.container_header nav button, .container_header .hero, .container_specs .spec-content .title, .container_specs .spec-content a, .container_specs .spec-img-content .title, .container_testimonials .title, .container_testimonials .testimonials .name {
  font-family: "Fraunces", serif;
}

.container_header nav button, .container_header ion-icon {
  cursor: pointer;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: auto;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container_header {
  background: url(/images/desktop/image-header.jpg) center top/cover no-repeat;
  padding: 1.25rem;
  height: 50rem;
  position: relative;
}
@media only screen and (max-width: 639px) {
  .container_header {
    height: 33.75rem;
  }
}
.container_header header {
  height: 3.125rem;
}
.container_header header,
.container_header nav {
  align-items: center;
  justify-content: space-between;
}
.container_header nav {
  transition: opacity 0.3s;
}
.container_header nav p {
  margin-right: 2.5rem;
  color: white;
}
@media only screen and (max-width: 639px) {
  .container_header nav p {
    margin: 0;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #818498;
  }
}
.container_header nav button {
  border: none;
  width: 8.4375rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  background: white;
  text-transform: uppercase;
  transition: color 0.3s, background 0.3s;
}
.container_header nav button:hover {
  color: white;
  background: rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 639px) {
  .container_header nav button {
    background: #fad400;
  }
}
.container_header nav::after {
  content: "";
  display: none;
  width: 1.5625rem;
  height: 25px;
  right: 0.015625rem;
  top: 0;
  transform: translateY(-100%);
  position: absolute;
  background: linear-gradient(-45deg, white 50%, transparent 50%);
}
@media only screen and (max-width: 639px) {
  .container_header nav::after {
    display: block;
  }
}
.container_header nav.active {
  opacity: 1;
  transition: opacity 0.3s;
}
@media only screen and (max-width: 639px) {
  .container_header nav {
    display: none;
    position: absolute;
    background: white;
    width: calc(100% - 2.5rem);
    flex-direction: column;
    right: 1.5625rem;
    opacity: 0;
    top: 6.25rem;
    padding: 2.5rem;
  }
}
.container_header ion-icon {
  display: none;
  font-size: 2.5rem;
  color: white;
}
@media only screen and (max-width: 639px) {
  .container_header ion-icon {
    display: block;
  }
}
.container_header .hero {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  color: white;
  font-size: 1.375rem;
  height: 20rem;
  margin-top: 6.25rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (max-width: 639px) {
  .container_header .hero {
    height: 15.625rem;
    margin-top: 3.125rem;
  }
}

.container_specs {
  min-height: 112.5rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 50%));
  grid-template-rows: repeat(3, 1fr);
}
.container_specs > * {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 639px) {
  .container_specs {
    grid-template-columns: 1fr;
    grid-template-rows: 19.6875rem 27.1875rem 19.6875rem 27.3125rem repeat(2, 37.5rem);
  }
}
.container_specs .spec:is(:first-child, :nth-child(4)) {
  background: #fffcfa;
}
.container_specs .spec:nth-child(2) {
  background: url(/images/desktop/image-transform.jpg) center center/cover;
}
@media only screen and (max-width: 639px) {
  .container_specs .spec:nth-child(2) {
    grid-row: 1;
  }
}
.container_specs .spec:nth-child(3) {
  background: url(/images/desktop/image-stand-out.jpg) center center/cover;
}
.container_specs .spec:nth-last-child(2) {
  background: url(/images/desktop/image-graphic-design.jpg) center center/cover;
}
.container_specs .spec:last-child {
  background: url(/images/desktop/image-photography.jpg) center center/cover;
}
.container_specs .spec-content {
  padding: 6.875rem 12.5rem 0 10rem;
}
@media only screen and (max-width: 639px) {
  .container_specs .spec-content {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container_specs .spec-content .title {
  font-size: 1.875rem;
  max-width: 20.625rem;
  width: 80%;
  min-width: 18.75rem;
}
.container_specs .spec-content .content {
  color: #818498;
  margin: 2.8125rem 0 3.125rem;
}
@media only screen and (max-width: 639px) {
  .container_specs .spec-content .content {
    margin: 2.8125rem 2.5rem 3.125rem;
  }
}
.container_specs .spec-content a {
  text-transform: uppercase;
  position: relative;
}
.container_specs .spec-content a span {
  position: relative;
  z-index: 2;
}
.container_specs .spec-content a .under {
  content: "";
  opacity: 0;
  position: absolute;
  width: 110%;
  height: 0.625rem;
  background: #fad400;
  left: -5%;
  bottom: 0;
  z-index: 1;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: left;
  border-radius: 0.625rem;
}
.container_specs .spec-content a .under.red {
  background: #fe7867;
}
.container_specs .spec-content a:hover .under {
  opacity: 1;
  transform: scaleX(1);
}
.container_specs .spec-img-content {
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 3.125rem;
  text-align: center;
}
.container_specs .spec-img-content.green {
  color: #25564b;
}
.container_specs .spec-img-content.blue {
  color: #19536b;
}
.container_specs .spec-img-content .title {
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}

.container_testimonials {
  padding: 5rem 0;
  align-items: center;
  flex-direction: column;
  background: #fffcfa;
}
.container_testimonials .title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3125rem;
  color: #a7abae;
  margin-bottom: 5rem;
  font-size: 1rem;
}
.container_testimonials .testimonials {
  justify-content: space-between;
  width: 70%;
  min-width: 18.75rem;
  min-height: 21.875rem;
  height: auto;
}
@media only screen and (max-width: 639px) {
  .container_testimonials .testimonials {
    flex-direction: column;
  }
}
.container_testimonials .testimonials .testimonial {
  flex: 1 1 20.125rem;
  margin: 0 0.625rem;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.container_testimonials .testimonials .testimonial .img {
  width: 4.6875rem;
  height: 4.6875rem;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}
.container_testimonials .testimonials .testimonial:first-child .img {
  background-image: url(/images/image-emily.jpg);
}
.container_testimonials .testimonials .testimonial:nth-child(2) .img {
  background-image: url(/images/image-thomas.jpg);
}
.container_testimonials .testimonials .testimonial:last-child .img {
  background-image: url(/images/image-jennie.jpg);
}
@media only screen and (max-width: 639px) {
  .container_testimonials .testimonials .testimonial:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}
.container_testimonials .testimonials .content {
  width: 100%;
  color: #23303e;
}
.container_testimonials .testimonials .name {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}
.container_testimonials .testimonials .job {
  color: #a7abae;
}

.container_photos {
  height: 27.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 639px) {
  .container_photos {
    grid-template-columns: repeat(2, 1fr);
  }
}
.container_photos .photo {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container_photos .photo:first-child {
  background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
}
.container_photos .photo:nth-child(2) {
  background-image: url(/images/desktop/image-gallery-orange.jpg);
}
.container_photos .photo:nth-child(3) {
  background-image: url(/images/desktop/image-gallery-cone.jpg);
}
.container_photos .photo:last-child {
  background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
}

footer {
  background: #91d4c6;
  color: #25564b;
  padding: 4.5625rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .title {
  filter: invert(51%) sepia(52%) saturate(340%) hue-rotate(118deg) brightness(86%) contrast(91%);
}
footer nav {
  margin: 2.5rem 0 5rem;
}
footer p:not(:last-child) {
  margin-right: 2.5rem;
}
footer .socials {
  width: 10rem;
  align-items: center;
  justify-content: space-between;
}
footer nav p:hover {
  color: white;
}

/*# sourceMappingURL=style.css.map */
